.locus_chart {
  height: 300px;
}

.locus_icon {
  height: 80px;
}

.locus_chart rect {
  fill: steelblue;
}

.locus_chart .line {
  fill: steelblue;
  fill-opacity: 0.2;
  stroke: steelblue;
  stroke-width: 2px;
}

.locus_chart text {
  fill: black;
  font: 10px sans-serif;
}

.locus_chart .hline {
  fill: #d0d0d0;
}

.locus_icon {
  width: 200px;
}

.locus_icon_output text {
  font-family:"Lato";
  font-weight:900;
  font-size:50px;
  font-style:normal;
  fill:#2E7CC8;
  stroke:none;
}